* {
    margin: 0;
    padding: 0;
  }

body{
    background:url(https://images.pexels.com/photos/1687678/pexels-photo-1687678.jpeg?cs=srgb&dl=pexels-valdemaras-d-1687678.jpg&fm=jpg)
}
.table h1{

    text-align:center;
    margin-top: 5%;
    margin-bottom: 20px;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.table table{
	margin:0 auto;
	height:200px;
	width:300px;
	text-align:center;
}

.button button{
    margin:0 auto;
    background-color:lightskyblue;
    margin: auto;   
    height: 30px;
    width: 70px;
}
.button button:hover{
    background-color: black;
    color:white;
}
.micro td{
    background-color: red;
}
.table thead{
    height: 20px;
    color:yellow;
}
.table tr td{
    color:white;
    
}
