* {
    margin: 0;
    padding: 0;
  }

body{
    background: url("https://bit.ly/2QCiR8k");
    background-size: cover;

}

.table table tr td  {
    border-style: hidden;
    border-radius: 10px;
    font-size:14px;
    font-weight: bold;
    background-color: lightblue;
    color:black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.table th{
    background-color:lightgreen;
    border-radius: 10px;
    height: 50px;
    font-size: 20px;
    font-family:monospace;
    color:black;
}
.table h1{

    text-align:center;
    margin-top: 5%;
    margin-bottom: 20px;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.table table{

	margin:0 auto;
	height:200px;
	width:300px;
	text-align:center;
}

.button button{
    border: none;
    color:black;
	background:lightblue;
	height:50px;
	width:150px;
    margin:0 auto;
    margin-bottom: 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}
.button button:hover{
    background-color: beige;
    box-shadow: 0 3px 9px rgba(14, 218, 14, 0.459);
	transition: 0.5s;
	color:black;
}
.micro td{
    background-color: red;
}
.table thead{
    height: 20px;
    color:yellow;
}
.table tr td{
    color:white;
    
}
#type :hover{
    transform: scale(1.05,1.05);
    box-shadow: 0 3px 15px rgba(230, 142, 218, 0.459);
	transition: 0.2s;
	color:black;
}
#micro:hover  {
    background-color: beige;
    transform: scale(1.05,1.05);
    box-shadow: 0 3px 15px rgba(230, 142, 218, 0.459);
	transition: 0.2s;
	color:black;
}
#macro:hover{
    background-color: beige;
    transform: scale(1.05,1.05);
    box-shadow: 0 3px 15px rgba(230, 142, 218, 0.459);
	transition: 0.2s;
	color:black;
}
#prime:hover{
    background-color: beige;
    transform: scale(1.05,1.05);
    box-shadow: 0 3px 15px rgba(230, 142, 218, 0.459);
	transition: 0.2s;
	color:black;
}
#Rate1:hover{
    background-color: rgb(241, 217, 203);
    transform: scale(1.05,1.05);
    box-shadow: 0 3px 15px rgba(255, 246, 254, 0.459);
	transition: 0.2s;
    color:black;
}
#Rate2:hover{
    background-color: rgb(241, 217, 203);
    transform: scale(1.05,1.05);
    box-shadow: 0 3px 15px rgba(255, 246, 254, 0.459);
	transition: 0.2s;
    color:black;
}
#Rate3:hover{
    background-color: rgb(241, 217, 203);
    transform: scale(1.05,1.05);
    box-shadow: 0 3px 15px rgba(255, 246, 254, 0.459);
	transition: 0.2s;
    color:black;
}
