@charset "ISO-8859-1";
*{
	margin: 0;
	padding: 0;
}
.carselect h1{
	text-align:center;	
	color:green;
	
}
body{
	border: 5px solid green;
	margin:10%;	
}
.options{
	
	margin:5% 20% 0% 19%; 
	padding-left: 20%
}
.km{
	
	margin:5% 20% 0% 20%;
	text-align:center;
}
.bill{
	
	margin:5% 20% 0% 20%;
	text-align:center;
}
.button {
	
	margin:2% 20% 5% 20%;
	text-align:center;
}