@charset "ISO-8859-1";
* {
    margin: 0;
	padding: 0;
	
  }
  .login h1{
	color:black;
	text-align:center;	
}
.login h1:hover{
	color:darkslategray;
}
.login button{
	color:lightgreen;
	background:black;
	height:30px;
	width:70px;
	margin:0 auto;
}
.login button:hover{
	background-color:lightgreen;
	color:black;
}
	
.login form{
	margin: auto;
	width:300px;
	border: 5px solid blue;
	
	padding: 100px;
	margin-top: 10%;
}
.login input[type="text"]::placeholder{
	text-align:center;
}
.login input[type="password"]::placeholder{
	text-align: center;
}



